# Dashboard avec Dash

Bienvenue dans ce nouveau worksop Dash organisé par Tom FULLER et Anselin BARADAT-GARGOMINY. Le but de ce workshop est de donner aux plus novices en python quelque bases sur la manipulation de matrices en python avec la librairie Pandas et sur la création de dashboards avec la librairie Dash.

Pour les amateurs de cryptos, ce workshop vous permettra de confirmer vos croyances sur certaines tendances entre certaines crypto monnaies, dans ce workshop nous étudirons particulièrement la tendance du cours de l'Etherum avec celle du Bitcoin.

## Instructions

<ul>
    <li> Vous utiliserez Python3 </li>
    <li> Pour la manipulation de matrice vous utiliserez exclusivement Pandas </li>
    <li> Pour plotter vos graphes vous utiliserez exclusivement Dash </li>
<ul>

## A la fin de ce workshop, vous saurez:

<ul>
    <li> Faire un dashboard avec Dash </li>
    <li> Une meilleure compréhension de l'incroyable éfficacitée des calcules matriciels </li>
    <li> Un aperçu des cours des crypto monnaies et des tendances de ces dernières </li>
<ul>

## A propos des Dataframes Pandas

Pandas est une librairie python qui permet de manipuler facilement des données à analyser:
manipuler des tableaux de données avec des étiquettes de variables (colonnes) et d'individus (lignes). Ces tableaux sont appelés DataFrames, similaires aux dataframes sous R.
    on peut facilement lire et écrire ces dataframes à partir ou vers un fichier tabulé.
    on peut faciler tracer des graphes à partir de ces DataFrames grâce à matplotlib.

Pour utiliser pandas : <code>import pandas as pd</code>

### Un petit échauffement

In [7]:
import pandas as pd
### On importe Yahoo finance pour 
### récupérer un Dataframe du cours du bitcoin des dernières 22h toutes
### les 15 minutes
import yfinance as yf

data = yf.download(tickers='BTC-USD', period = '22h', interval = '15m')

[*********************100%***********************]  1 of 1 completed

In [9]:
data.head(5)
type(data)

pandas.core.frame.DataFrame

In [10]:
### la méthode head vous permez des voir les 5 premières lignes
### d'un Dataframe
data.head(5)

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-04-17 00:45:00+00:00,40409.031250,40409.031250,40399.550781,40399.550781,40399.550781,0
2022-04-17 01:00:00+00:00,40399.835938,40399.835938,40393.207031,40398.460938,40398.460938,28610560
2022-04-17 01:15:00+00:00,40392.992188,40394.238281,40366.429688,40394.238281,40394.238281,26215424
2022-04-17 01:30:00+00:00,40398.300781,40404.820312,40389.597656,40404.820312,40404.820312,28633088
2022-04-17 01:45:00+00:00,40409.507812,40416.261719,40404.683594,40407.894531,40407.894531,32258048

### petite explication sur les différentes colonnes du Dataframe
L'open correspond à la valeur de l'action lorsque on regarde pour la première fois sa valeur. Le close correspond donc à la dernière valeur enregistré. Le High est la plus haute valeur atteinte par l'action et le low donc l'inverse. Adj Close est la valeur ajusté d'une action lorsque des Corporates actions surviennent mais ici ça ne nous interresse pas. Le volume est le nombre d'action achetable sur le marché.

In [12]:
### pour récupérer la colonne High on utilise
### la méthode .loc[row, column]
data.loc[:, 'High']

Datetime
2022-04-17 00:45:00+00:00    40409.031250
2022-04-17 01:00:00+00:00    40399.835938
2022-04-17 01:15:00+00:00    40394.238281
2022-04-17 01:30:00+00:00    40404.820312
2022-04-17 01:45:00+00:00    40416.261719
                                 ...
2022-04-17 21:00:00+00:00    40298.242188
2022-04-17 21:15:00+00:00    40228.277344
2022-04-17 21:30:00+00:00    40245.468750
2022-04-17 21:45:00+00:00    40242.332031
2022-04-17 21:54:00+00:00    40217.945312
Name: High, Length: 86, dtype: float64

In [13]:
### ici vous avez 2 manières différentes
### de faire la même chose que au dessus
data.High
data.iloc[:, 1]

Datetime
2022-04-17 00:45:00+00:00    40409.031250
2022-04-17 01:00:00+00:00    40399.835938
2022-04-17 01:15:00+00:00    40394.238281
2022-04-17 01:30:00+00:00    40404.820312
2022-04-17 01:45:00+00:00    40416.261719
                                 ...
2022-04-17 21:00:00+00:00    40298.242188
2022-04-17 21:15:00+00:00    40228.277344
2022-04-17 21:30:00+00:00    40245.468750
2022-04-17 21:45:00+00:00    40242.332031
2022-04-17 21:54:00+00:00    40217.945312
Name: High, Length: 86, dtype: float64

### Passons maintenant à un peu de pratiques

Vous devez calculer la différence entre le close et l'open pour chaque ligne

In [ ]:
### à vous :)
diff = ### votre code

### Dash maintenant
Dash est un framework Python permettant de développer des applications web pour la visualisation des données. Il est construit sur des technologies matures et largement déployées:

<ul>
    <li> Flask est un micro framework web Python </li>
    <li> Plotly est une bibliothèque graphique basée sur D3.js, la référence en matière de data visualisation </li>
    <li> React. est une bibliothèque JavaScript développée par Facebook </li>
</ul>

source: https://perso.esiee.fr/~courivad/python_viz/03-dash.html

### Coder votre dashboard
Pour vous aider à réaliser les prochaines tâches, vous pouvez vous aider du fichier app.py au root du repository et de la documention sur internet: https://dash.plotly.com/

Les exercices sont à faire de votre côté dans un fichier python.

### Task 1

#### Les callback
 functions that are automatically called by Dash whenever an input component's property changes, in order to update some property in another component (the output).

Vous devez créer un dashboard qui contiendra:
<ul>
	<li> Un component Input </li>
	<li> Un component Text </li>
</ul>

Lorsque un utilisateur entre une valeur dans l'Input, le component text devra prendre la valeur de l'input.

### Task 2
Vous devez créer un dashboard qui contiendra:
<ul>
	<li> Un component DataTable </li>
</ul>

Vous devez afficher un graphique entierement rempli de zéros mais avec le background du tableau en rouge et la couleur du text des valeurs dans les cellues en bleu.

### Task 3
Vous devez créer un dashboard qui contiendra:
<ul>
	<li> Un component Graph </li>
	<li> Un component DropDown </li>
</ul>

Le DropDown contiendra les noms des colonnes de votre dataframe,
et lorsque un utilisateur selectionne une colonne, le graph doit plotter cette derniere.